<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="{{ asset('/css/style.css') }}"/>
        {% endblock %}
        
        {% block javascripts %}         
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/></script>
            <script defer src="{{ asset('js/main.js')}}"/></script>
        {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="container">
                    <ul  class="menu nav navbar-nav">
                        <li><a href="{{path('home')}}">Главная</a></li>
                        {% for link in links %}
                            <li><a href="{{path('page',{'slug':link.id})}}">{{link.name}}</a></li>
                        {% endfor %}
                        <li><a href="{{path('post.add')}}">Создать пост</a></li>
                        <li><a href="{{path('post.list')}}">Посты</a></li>
                    </ul>
                </div>
            </div>
            <div id="content" class="container">
