{{ render(controller('App\\Controller\\HeaderController::index',{'title':'Добавить пост'})) }}
<h1>Добавить пост</h1>

<form action ="{{ path('post.add') }}" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="post_name" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input name="name" type="text" class="form-control" id="post_name" placeholder="Имя" value="{{ date.name }}">
            {% if errors.name is defined %}
                <span class="text-danger">Не валидное имя</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="post_description" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea name="description" class="form-control" rows="3" id="post_description" placeholder="Описание">{{date.description}}</textarea>
            {% if errors.description is defined %}
                <span class="text-danger">Не валидное описание</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Создать</button>
        </div>
    </div>
</form>


{% include 'main/footer.html.twig'%}