{{ render(controller('App\\Controller\\HeaderController::index',{'title':'Добавить пост'})) }}

<h1>Пост успешно добавлен</h1>

<div>
    <a class="btn btn-default" href="{{path('post.list')}}">Список постов</a>
    <a class="btn btn-primary" href="{{path('post.add')}}">Создать новый</a>
</div>


{% include 'main/footer.html.twig'%}