{{ render(controller('App\\Controller\\HeaderController::index',{'title':'Редактировать пост'})) }}

    <h1>Редактировать пост</h1>
    
    <form action ="{{ path('post.edit',{'slug':post.id}) }}" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="post_name" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input name="name" type="text" class="form-control" id="post_name" placeholder="Имя" value="{{ post.name }}">
            {% if errors.name is defined %}
                <span class="text-danger">Не валидное имя</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="post_description" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea name="description" class="form-control" rows="3" id="post_description" placeholder="Описание">{{post.description}}</textarea>
            {% if errors.description is defined %}
                <span class="text-danger">Не валидное описание</span>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Редактировать</button>
        </div>
    </div>
    </form>
{% include 'main/footer.html.twig'%}