{{ render(controller('App\\Controller\\HeaderController::index',{'title':'Пост удален'})) }}

    <h1>Пост {{name}} успешно удален</h1>
    
    <div>
        <a class="btn btn-default" href="{{path('post.list')}}">Список постов</a>
        <a class="btn btn-primary" href="{{path('post.add')}}">Создать новый</a>
    </div>

{% include 'main/footer.html.twig'%}